.main_header {
  padding-top: 20px;
  padding-bottom: 20px;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 33px;
  }

  &__link {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #83888f;
    &:hover {
      color: #000000;
    }
  }
}
